body {
    background: rgb(255, 255, 255);
    font-family: 'DM Serif Text', serif;
    font-family: 'DM Serif Display', serif;
}

@font-face {
    font-family: avenirnext-bold;
    src: url(fonts/AvenirNext-Bold.ttf);
    font-family: avenirnext-demibold;
    src: url(fonts/AvenirNext-DemiBold.ttf);
    font-family: avenirnext-regular;
    src: url(fonts/AvenirNext-Regular.ttf);
}

h1 {
    font-family: avenirnext-bold;
    font-size: 24px;
    line-height: 30px;
    color: #58626d;

}

p {
    font-family: avenirnext-bold;
    font-size: 16px;
    line-height: 30px;
    color: #58626d;


}

a {
    text-decoration: none;

}

a {
    color: #fab6bc;
    font-family: avenirnext-bold;
} 

.main-navigation {
     max-width: 100%;
    height: 10px;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}
.main-header {
    position: fixed;
    width: 100vw;
}

#menu {
    display: flex;
    position: relative;
}


.main-navigation a {
    color: #1b1b1b;
    font-weight: bold;
}



.main-navigation li {
    margin: 30px;
}



.feature-background .container {
    align-items: center;
    display: flex;
    max-width: 900px;
    margin: 0 auto;

}

.feature-background .hero-text{
    padding: 0 40px 0 0;
    width: 70%;

}
.feature-background .hero-image{
    padding: 0 40px 0 0;
    width: 30%;

}

img.hero-image {
    height: auto;
    max-width: 100%;
    width: auto;
}

.feature-background .clear {

    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    padding: 80px 0;
    box-sizing: border-box;
}
.box-grid-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 8px;
    justify-content: center;
    grid-template-rows: 400px;
}

.work .container {
    max-width: 900px;
    margin: 0 auto;
}

.work-1 {
    display: flex;
    align-items: flex-end;
    grid-column: 1 / span 2; 
    /* padding: 20px 200px 0 0; */
    /* max-width: 1000px; 
    height: 375px;*/
    background-color: #fab6bc;
}

.textowork-1 {
    height: 300px;
    margin-left: 40px;
}
.textowork-1 a {
    color: #58626d; 
}
.textowork-1 p {
  padding: 10px 0;  
  width: 237px;
  height: 58px;
  font-family: 'DM Serif Display', serif;
  font-size: 21px;
  color: #58626d;
}


.textowork-2 {
    padding: 40px 10px 10px 40px;
}
.textowork-2 a {
    color: #ffffff; 
}
.textowork-2 p {
  padding: 10px 0;  
  width: 237px;
  height: 58px;
  font-family: 'DM Serif Display', serif;
  font-size: 21px;
  color: #ffffff;
}
.work-2 {
  
    grid-column: 1; 
    grid-row: 2;
    background-color: #7daec7;
    display: grid;
    grid-area: span;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.textowork-3 {
    padding: 40px 10px 10px 40px;
}
.textowork-3 a {
    color: #ffffff; 
}
.textowork-3 p {
  padding: 10px 0;  
  width: 237px;
  height: 58px;
  font-family: 'DM Serif Display', serif;
  font-size: 21px;
  color: #ffffff;
}
.work-3 {
    grid-column: 2; 
    grid-row: 2;
    background-color: #58626d;
    display: flex;
    flex-direction: column;
    align-content: flex-left;
   
}
.mockup-2 {
    margin-top: auto;
}
.mockup-3 {
    margin-left: 170px;
    
}


.case-study {
    background-color: #dfdfdf; 
    height: 772px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}



h3 {
    font-size: 30px;
    line-height: 2em;
    text-align: center;

    color: #58626d;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

h4 {
font-family: Aavenirnext-regular;
  font-size: 15px;
  line-height: 1.4em;
  font-weight: 500;
  text-align: center;
  color: #58626d;
}

.rrss {
    background-color: #58626d; 
    color: white;
    /* height: 154px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.rrss p{
    color: white;
    margin-bottom: 20px;
    letter-spacing: 4px;
    margin-top: 20px;
    text-align: center;
}

.rrss-icon img{
    height: 44px;
    padding: 2px 10px 30px 10px;
}

.rrss-icon {
    display: flex;
    align-content: flex-end;
    justify-content: center;
}