body {
    background: rgb(255, 255, 255);
    font-family: 'DM Serif Text', serif;
    font-family: 'DM Serif Display', serif;
    


}

@font-face {
    font-family: avenirnext-bold;
    src: url(fonts/AvenirNext-Bold.ttf);
    font-family: avenirnext-demibold;
    src: url(fonts/AvenirNext-DemiBold.ttf);
    font-family: avenirnext-regular;
    src: url(fonts/AvenirNext-Regular.ttf);


}

h1 {
    font-family: avenirnext-bold;
    font-size: 24px;
    line-height: 30px;
    color: #58626d;

}

p {
    font-family: avenirnext-bold;
    font-size: 16px;
    line-height: 30px;
    color: #58626d;


}

a {
    text-decoration: none;

}

#link { color: #fab6bc; } 

.main-navigation {
     max-width: 1000px;
    height: 90px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}
.main-header {
    position: fixed;
    width: 100vw;
}

#menu {
    display: flex;
    position: relative;

}


.main-navigation a {
    color: #1b1b1b;
    font-weight: bold;
}



.main-navigation li {
    margin: 30px;
}



.feature-background .container {
    align-items: center;
    display: flex;

}

.feature-background .hero-text{
    padding: 0 40px 0 0;
    width: 70%;

}
.feature-background .hero-image{
    padding: 0 40px 0 0;
    width: 30%;

}




img.hero-image {
    height: auto;
    max-width: 100%;
    width: auto;
}

.feature-background .clear {

    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    padding: 80px 0;
    box-sizing: border-box;
}

.work-1 {
    display: flex;
    align-items: flex-end;
    max-width: 1000px;
    height: 375px;
    background-color: #fab6bc
}

.work-background {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0; 
    

}

.work-background .work-2,
.work-background .work-3 {
    padding: 0 40px 0 0;
    width: 50%;

}

.work-2 {
    width: 346px;
    height: 459px;
    background-color: #7daec7;
    display: flex;
    align-items: flex-end;
    margin-right: 10px
    
    
    
}

.work-3 {
    width: 346px;
    height: 459px;
    background-color: #58626d;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.work .clear {
    margin: 0 auto;
    max-width: 1000px;
    box-sizing: border-box;
}

.case-study {
    background-color: #dfdfdf; 
    height: 772px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.rrss {
    background-color: #58626d; 
    color: white;
    height: 172px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

h3 {

    font-size: 30px;
    text-align: center;
    color: #58626d;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

h4 {

font-family: Aavenirnext-regular;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  color: #58626d;
  

}